.btn {
  border: $border;
  background: get-color('light');
  text-align: center;

  &:hover {
    background: get-color('dark');
    color: get-color('light');
    cursor: pointer;
  }

  &:disabled,
  &:disabled + label {
    color: get-color('btn-dis');
    border-color: get-color('btn-dis');

    &:hover {
      cursor: not-allowed;
    }
  }

  &--load {
    @include container(0.1px, 0.1px);
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    &__label {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0 calc(#{$n-base} * 4 / 3);
      user-select: none;
    }
  }
}
