@import 'variables';

body {
  margin: 0;
  @include container(100vh, 100vw);
  @extend %grid;
  grid-template-rows: 5vh 1fr;
  overflow-x: hidden;
}

.buttons {
  @extend %center;
  grid-template-columns: repeat(2, 1fr);
}

.user,
.game {
  @include container(calc(100% - calc(#{$n-base} * 3)));
  @extend %grid;
  padding: $n-base;
  margin: 0 $n-base;
  border: $border;

  &__text {
    @include container(calc(100% - $n-base));
    padding: $n-base;
    overflow: scroll;
  }
}
.game {
  grid-template-rows: 1fr 10vh;
}
.user {
  grid-auto-rows: 16pt;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $n-base;

  &__error {
    color: get-color('error');
  }
}

.btn--start,
.user__error {
  grid-column: 1 / 3;
}

.game__info {
  padding: $n-base;
  border-top: $border;
  overflow-y: scroll;
}
