// variables
$colors: (
  dark:  #212121,
  light: #ffffff,
  error: #ff5252,
  btn-dis: lighten(#212121, 60%)
);

$f: 'Roboto Mono', monospace;
$f-text: normal 10pt/120% $f;

$border: 1px solid get-color('dark');
$n-base: 6px;

// classes
%grid {
  display: grid;
}

%center {
  display: grid;
  justify-items: center;
  align-items: center;
}

// mixins
@mixin container($h, $w: auto) {
  width:  $w;
  height: $h;
}

// functions
@function get-color($name) {
  @return map-get($colors, $name);
}
